<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="platformImages" name="Platform Images" schema="schema/platformImage.exsd"/>
   <extension-point id="hybridMobileStatusHandler" name="Hybrid Mobile Status Handler" schema="schema/hybridMobileStatusHandler.exsd"/>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="org.eclipse.thym.ui.category"
            class="org.eclipse.thym.ui.wizard.project.NewHybridProjectWizard"
            hasPages="true"
            icon="icons/etool16/newcordovaprj_wiz.png"
            id="org.eclipse.thym.ui.NewHybridProjectWizard"
            name="Hybrid Mobile (Cordova) Application Project"
            project="true">
         <keywordReference
               id="org.eclipse.thym.ui.keyword">
         </keywordReference>
      </wizard>
      <category
            id="org.eclipse.thym.ui.category"
            name="Mobile">
      </category>
   </extension>
  <extension point="org.eclipse.ui.editors">
    <editor
          class="org.eclipse.thym.ui.config.internal.ConfigEditor"
          default="true"
          icon="icons/obj16/cordova_16.png"
          id="org.eclipse.thym.ui.config.internal.ConfigEditor"
          name="Cordova Configuration Editor">
       <contentTypeBinding
             contentTypeId="org.eclipse.thym.core.configType">
       </contentTypeBinding>
    </editor>
  </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="org.eclipse.thym.ui.internal.preferences.HybridMobilePreferencePage"
           id="org.eclipse.thym.ui.internal.preferences.HybridMoblePreferencePage"
           name="Hybrid Mobile">
        <keywordReference
              id="org.eclispe.thym.ui.keyword">
        </keywordReference>
     </page>
     <page
           category="org.eclipse.thym.ui.internal.preferences.HybridMoblePreferencePage"
           class="org.eclipse.thym.ui.internal.preferences.EnginePreferencesPage"
           id="org.eclipse.thym.ui.internal.preferences.EnginePreferencesPage"
           name="Engines">
        <keywordReference
              id="org.eclipse.thym.ui.keyword">
        </keywordReference>
     </page>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="org.eclipse.thym.ui.internal.preferences.PreferenceInitializer">
     </initializer>
  </extension>
  <extension
        point="org.eclipse.ui.exportWizards">
     <wizard
           category="org.eclipse.thym.ui.category"
           class="org.eclipse.thym.ui.wizard.export.NativeBinaryExportWizard"
           icon="icons/etool16/exportnativeprj_wiz.png"
           id="org.eclipse.thym.ui.exportNativeBinaryWizard"
           name="Export Mobile Application">
        <keywordReference
              id="org.eclipse.thym.ui.keyword">
        </keywordReference>
     </wizard>
     <category
           id="org.eclipse.thym.ui.category"
           name="Mobile">
     </category>
  </extension>
  <extension
        point="org.eclipse.ui.ide.projectNatureImages">
     <image
           icon="icons/ovr16/cordova_botovr.png"
           id="org.eclipse.thym.ui.HybridAppNatureImage"
           natureId="org.eclipse.thym.core.HybridAppNature">
     </image>
  </extension>
  <extension
        point="org.eclipse.ui.navigator.navigatorContent">
     <navigatorContent
           contentProvider="org.eclipse.thym.ui.plugins.navigator.internal.PluginContentProvider"
           icon="icons/icon32/plug32.png"
           id="org.eclipse.thym.ui.pluginNavigatorContent"
           labelProvider="org.eclipse.ui.model.WorkbenchLabelProvider"
           name="Cordova Plugin Content"
           priority="normal">
        <enablement>
        	<and>
	        	<adapt type="org.eclipse.core.resources.IFolder">
                    <test property="org.eclipse.core.resources.name" value="plugins" />
                    <test property="org.eclipse.core.resources.path" value="/*/plugins" />
					<test property="org.eclipse.core.resources.projectNature" value="org.eclipse.thym.core.HybridAppNature"/>
            	</adapt>
            </and>
        </enablement>
        <actionProvider
              class="org.eclipse.thym.ui.plugins.navigator.internal.PluginActionProvider"
              id="org.eclipse.thym.ui.pluginActionProvider"
              priority="normal">
           <enablement>
        	<or>
	        	<adapt type="org.eclipse.core.resources.IProject">
					<test property="org.eclipse.core.resources.projectNature" value="org.eclipse.thym.core.HybridAppNature"/>
            	</adapt>
            	<adapt type="org.eclipse.core.resources.IFolder">
                    <test property="org.eclipse.core.resources.name" value="plugins" />
                    <test property="org.eclipse.core.resources.path" value="/*/plugins" />
					<test property="org.eclipse.core.resources.projectNature" value="org.eclipse.thym.core.HybridAppNature"/>
            	</adapt>
            </or>
        </enablement>
        </actionProvider>
        <actionProvider
              class="org.eclipse.thym.ui.plugins.navigator.internal.CordovaPluginActionProvider">
           <enablement>
              <instanceof
                    value="org.eclipse.thym.core.plugin.CordovaPlugin">
              </instanceof>
           </enablement>
        </actionProvider>
     </navigatorContent>
     <commonFilter
           activeByDefault="true"
           class="org.eclipse.thym.ui.plugins.navigator.internal.PluginsFolderContentFilter"
           description="Filters the contents of the folders for the installed Cordova Plugins"
           id="org.eclipse.thym.ui.pluginsFolderFilter"
           name="Cordova Plugins Folder Filter"
           visibleInUI="true">
     </commonFilter>
  </extension>
  <extension
        point="org.eclipse.ui.navigator.viewer">
     <viewerContentBinding
           viewerId="org.eclipse.ui.navigator.ProjectExplorer">
        <includes>
           <contentExtension
                 pattern="org.eclipse.thym.ui.*">
           </contentExtension>
        </includes>
     </viewerContentBinding>
  </extension>
  <extension
        point="org.eclipse.core.runtime.adapters">
     <factory
           adaptableType="org.eclipse.thym.core.plugin.CordovaPlugin"
           class="org.eclipse.thym.ui.internal.CordovaPluginAdapterFactory">
        <adapter
              type="org.eclipse.ui.views.properties.IPropertySource">
        </adapter>
        <adapter
              type="org.eclipse.ui.model.IWorkbenchAdapter">
        </adapter>
        <adapter
              type="org.eclipse.core.resources.IResource">
        </adapter>
     </factory>
  </extension>
  <extension
        point="org.eclipse.ui.propertyPages">
     <page
           class="org.eclipse.thym.ui.internal.properties.EnginePropertyPage"
           id="org.eclipse.thym.ui.internal.properties.enginePropertyPage"
           name="Hybrid Mobile Engine" >
        <enabledWhen>
          <adapt type="org.eclipse.core.resources.IProject">
                  <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.thym.core.HybridAppNature"/>
             </adapt>    
        </enabledWhen>
     </page>
  </extension>
  <extension
        point="org.eclipse.debug.core.statusHandlers">
     <statusHandler
           class="org.eclipse.thym.ui.internal.status.EngineStatusHandler"
           code="100"
           id="org.eclipse.thym.ui.engineStatusHandler"
           plugin="org.eclipse.thym.core">
     </statusHandler>
  </extension>
  <extension
        point="org.eclipse.thym.ui.hybridMobileStatusHandler">
     <statusHandler
           class="org.eclipse.thym.ui.internal.status.EngineStatusHandler"
           code="100"
           id="org.eclipse.thym.ui.engineStatusHandler"
           plugin="org.eclipse.thym.core">
     </statusHandler>
     <statusHandler
           class="org.eclipse.thym.ui.internal.cordova.MissingCordovaStatusHandler"
           code="501"
           id="org.eclipse.thym.ui.missingCordovaRequirementStatusHandler"
           plugin="org.eclipse.thym.core">
     </statusHandler>
     <statusHandler
           class="org.eclipse.thym.ui.internal.status.ConfigXMLStatusHandler"
           code="423"
           id="org.eclipse.thym.ui.configxmStatusandler"
           plugin="org.eclipse.thym.core">
     </statusHandler>
  </extension>
  <extension
        point="org.eclipse.ui.importWizards">
     <wizard
           category="org.eclipse.thym.ui.category"
           class="org.eclipse.thym.ui.internal.wizard.imports.HybridMobileProjectImportWizard"
           icon="icons/etool16/newcordovaprj_wiz.png"
           id="org.eclipse.thym.ui.HybridMobileProjectImportWizard"
           name="Import Cordova Project">
        <keywordReference
              id="org.eclipse.thym.ui.keyword">
        </keywordReference>
     </wizard>
     <category
           id="org.eclipse.thym.ui.category"
           name="Mobile">
     </category>
  </extension>
  <extension
        point="org.eclipse.ui.keywords">
     <keyword
           id="org.eclipse.thym.ui.keyword"
           label="hybrid mobile cordova">
     </keyword>
  </extension>
   <extension
         point="org.eclipse.wst.sse.ui.sourcevalidation">
      <validator
            scope="total"
            id="org.eclipse.thym.ui.config.internal.ReconcilingStrategy"
            class="org.eclipse.thym.ui.config.internal.ReconcilingStrategy">
      <contentTypeIdentifier id="org.eclipse.thym.core.configType">
         <partitionType id="org.eclipse.wst.xml.XML_DEFAULT"/>
      </contentTypeIdentifier>
      </validator>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="org.eclipse.thym.ui.ConvertToHybridProject"
               style="push">
         </command>
        <visibleWhen checkEnabled="false">
          <and>
            <count value="1"/>
            <iterate ifEmpty="false" operator="and">
              <adapt type="org.eclipse.core.resources.IProject">
                <and>
                   <not>
                      <test
                            property="org.eclipse.core.resources.projectNature"
                            value="org.eclipse.thym.core.HybridAppNature">
                      </test>
                   </not>
                   <test
                         forcePluginActivation="true"
                         property="org.eclipse.thym.ui.canConvertToThym">
                   </test>
                </and>
              </adapt>
            </iterate>
          </and>
        </visibleWhen>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.thym.ui.internal.project.ConvertToHybridProjectHandler"
            id="org.eclipse.thym.ui.ConvertToHybridProject"
            name="Convert to Hybrid Mobile Project">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.thym.ui.internal.project.CanConvertToHybridTester"
            id="org.eclipse.thym.ui.CanConvertToHybridMobileTester"
            namespace="org.eclipse.thym.ui"
            properties="canConvertToThym"
            type="org.eclipse.core.resources.IProject">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatsheet
            composite="false"
            contentFile="cheatsheets/cordova_requirements.xml"
            id="org.eclipse.thym.ui.requirements.cordova"
            name="Install Cordova Requirements">
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            id="org.eclipse.thym.ui.wwwDecorator"
            label="%WWWDecorator.name"
            class="org.eclipse.thym.ui.decorators.WWWFolderDecorator"
            adaptable="true"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
            <description>
               %WWWDecorator.description
            </description>
            <enablement>
               <objectClass name="org.eclipse.core.resources.IFolder"/>
            </enablement>
      </decorator>
   </extension>
</plugin>
