<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.thym.core.platformSupport">
      <platform
            id="org.eclipse.thym.win.core.platformSupport"
            libraryResolver="org.eclipse.thym.win.core.WinLibraryResolver"
            platform="Windows Universal"
            platformID="windows">
      </platform>
   </extension>
   <extension
         point="org.eclipse.thym.core.projectBuilder">
      <builder
            delegate="org.eclipse.thym.win.core.build.WinBuild"
            id="org.eclipse.thym.win.core.projectBuilder"
            platform="Windows Universal">
      </builder>
   </extension>
<extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.thym.win.internal.core.WinLaunchDelegate"
            id="org.eclipse.thym.win.core.WinLaunchConfigurationType"
            modes="run"
            name="Windows Universal">
      </launchConfigurationType>
   </extension>
</plugin>
